<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Freeman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Freeman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Pagina Principal</title>
</head>

<body>
    <main>
        <h2 class="freeman">Seu Estilo se Faz Aqui</h2>
        <h1 class="inter">TRANSFORME SEU VISUAL E ELEVE SUA CONFIANÇA</h1>
        <div class="flex">
            <div class="agendar">
                <p class="inter"><a th:href="@{/agendamento}">Quero agendar</a></p>
            </div>
        </div>
        <h2 class="freeman">Seu Estilo se Faz Aqui</h2>
        <h1 class="inter">Veja Algum de Nossos Cortes</h1>
        <article>
            <div class="foto1"><img src="Img/foto1.png" alt=""></div>
            <div class="foto2"><img src="Img/foto2.jpg" alt=""></div>
            <div class="foto3"><img src="Img/foto3.jpg" alt=""></div>
        </article>
        <h2 class="freeman">Aonde Estamos Localizados?</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14637.829229010675!2d-46.818155894606775!3d-23.480032330615977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefde9a4858c2d%3A0x34c5412f38b00442!2sParque%20Imperial%2C%20Barueri%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1759336004887!5m2!1spt-BR!2sbr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>


<footer>
    <p class="freeman">Desenvolvido por Igor Borges e Marcelo Bezerra</p>
</footer>

</body>

</html>