<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Logado</title>
</head>

<body>
    <div th:if="${mensagemErro}" style="color: red;">
        <p th:text="${mensagemErro}"></p>
    </div>
    <h2>Olá, <span th:text="${usuario.nome}">usuário</span>!</h2>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Sair</button>
    </form>
    <a th:href="@{/criar-evento}">Fazer agendamento</a>
    <a th:href="@{/meus-agendamentos}">Ver meus agendamentos</a>
    
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/admin}">Tela de admin</a>
    </div>
</body>

</html>