<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>

<div th:if="${mensagemErro}" style="color: red;">
    <p th:text="${mensagemErro}"></p>
</div>

<div th:if="${mensagemLogout}" style="color: yellowgreen;">
    <p th:text="${mensagemLogout}"></p>
</div>

<form th:action="@{/login}" method="post">
    <div>
        <label>Email:</label>
        <input type="text" name="email" />
    </div>
    <div>
        <label>Senha:</label>
        <input type="password" name="senha" />
    </div>
    <div>
        <button type="submit">Entrar</button>
    </div>
</form>
<p>Não tem conta? <a th:href="@{/cadastro}">Cadastre-se</a></p>
</body>
</html>
