<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus agendamentos</title>
</head>

<body>
    <div th:if="${mensagemErro}" style="color: red;">
        <p th:text="${mensagemErro}"></p>
    </div>
    <div th:if="${mensagemSucesso}" style="color: rgb(4, 222, 4);">
        <p th:text="${mensagemSucesso}"></p>
    </div>
    <table class="tabela-eventos">
        <thead>
            <tr>
                <th>Horário do Agendamento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Percorre a lista de eventos -->
            <tr th:each="evento : ${eventos}">
                <td th:text="${#temporals.format(evento.inicio, 'dd/MM/yyyy HH:mm')}"></td>
                <td>
                    <form th:action="@{/evento/cancelar/{id}(id=${evento.id})}" method="post">
                        <input type="hidden" th:name="id" th:value="${evento.id}" />
                        <button type="submit" class="btn-cancelar">
                            Cancelar
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>